jupyter==1.0.0
matplotlib==3.1.2
numpy==1.17.3
pandas==0.25.3
scipy==1.3.1

# Efficient jobs (caching, parallelism, persistence)
joblib==0.14.0

# Easy http requests
requests==2.22.0

##### Machine Learning packages
scikit-learn==0.22

##### Deep Learning packages

# Replace tensorflow with tensorflow-gpu if you want GPU support. If so,
# you need a GPU card with CUDA Compute Capability 3.0 or higher support, and
# you must install CUDA, cuDNN and more: see tensorflow.org for the detailed
# installation instructions.
tensorflow==1.15.2
#tensorflow-gpu==1.15.0

tensorboard==1.15.0
tensorflow-estimator==1.15.1

##### Image manipulation
imageio==2.6.1
Pillow==6.2.1
scikit-image==0.16.2
graphviz
pydot==1.4.1
opencv-python==4.1.2.30
pyglet==1.3.2
